bitburnerSave_*.json
bitburnerFiles*.zip
RECOVERY_BITBURNER_*.json
factiongoals.txt
corporation.txt
contracts.txt
database.txt
actiondb.txt
backup.txt
stopselling.txt
reserved-money.txt
fini.txt
test.js
saves/
